* {
    transition: 0.4s;
}

@media only screen and (max-width: 800px) {
    body {
        display: flex;
        justify-content: center;
    }

    .mainDiv {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: flex-start;
    }

    .loginHorizontalLayout {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
        position: absolute;
        top: 15px;
        left: 15px;
        width: 95%;
        border-radius: 15px;
    }

    .loginLeftPanel {
        margin-left: 20px;
    }

    .blurredDiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(2px);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .loginButtonDiv {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
        padding: 20px;
        border-radius: 15px;
        backdrop-filter: blur(5px);
    }

    .loginButtonDiv a {
        font-size: x-large;
        color: #243b53;
        text-decoration: none;
        transition: 0.5s;
    }

    .loginButtonDiv a:hover {
        font-size: xx-large;
        transition: 0.5s;
    }
}

@media only screen and (min-width: 801px) {

    body {
        display: flex;
        justify-content: center;
    }

    .mainDiv {
        height: 100vh;
        width: 100vw;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .loginHorizontalLayout {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.3));
        width: 70vw;
        height: 90vh;
        border-radius: 15px;
    }

    .loginLeftPanel {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.3));
        width: 25vw;
        height: 90vh;
        margin-left: 16px;
        border-radius: 15px;
    }

    .loginDrawerToggle {
        display: none;
    }

    .loginRightPanel {
        width: 73vw;
        height: 7vh;
        display: flex;
        flex-direction: row;
        justify-content: center;
        background: rgba(255, 255, 255, 0.2);
        margin: 1vw;
        border-radius: 15px;
    }

    .blurredDiv {
        position: absolute;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: rgba(255, 255, 255, 0);
        backdrop-filter: blur(3px);
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        z-index: 1;
    }

    .loginButtonDiv {
        background: linear-gradient(to right bottom, rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.3));
        padding: 20px;
        border-radius: 15px;
        backdrop-filter: blur(5px);
        -webkit-backdrop-filter: blur(5px);
    }

    .loginButtonDiv a {
        font-size: x-large;
        color: #243b53;
        text-decoration: none;
    }

    .loginButtonDiv a:hover {
        font-size: xx-large;
        transition: 0.5s;
    }
}