@media only screen and (max-width: 800px) {

    .twoItemsContainer {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: stretch;
    }

    .singleItemContainer {
        border-radius: 10px 10px 10px 10px;
    }

    .singleItem {
        padding: 2%;
    }

    .singleItem img {
        border-radius: 10px;
    }
}