@media only screen and (min-width: 1921px) {

    .row {
        width: 50%;
    }

    .twoItemsContainer {
        float: left;
        width: 33.33%;
        height: 95%;
    }

    .item {
        padding: 1%;
        margin: 1%;
        width: 46%;
        height: 100%;
    }

    .item:hover {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        color: white;
    }

    .row {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: stretch;
    }

    .twoItemsContainer {
        float: left;
        width: 33.33%;
        display: flex;
        align-items: stretch;
    }

    .item {
        padding: 1%;
        margin: 1%;
        width: 46%;
    }

    .singleItemContainer {
        width: 33.33%;
        display: flex;
        justify-content: center;
        margin: 1%;
    }

    .singleItem {
        width: 60%;
        height: auto;
        display: flex;
        align-items: stretch;
        justify-content: center;
        flex-direction: row;
    }

    .singleItem img {
        border-radius: 10px 0 0 10px;
        float: left;
    }

    .singleItem .itemData {
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 0 10px 10px 0;
    }

    .item:hover, .singleItem:hover .itemData {
        background-color: rgba(0, 0, 0, 0.4);
        backdrop-filter: blur(5px);
        color: white;
    }
}